<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <th:block th:include="common/header::header"></th:block>
    <th:block th:include="common/sidebar::sidebar"></th:block>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
        </div>
    </div>

    <th:block th:include="common/footer::footer"></th:block>

</div>
<script src="../src/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element','jquery'], function(){
        var element = layui.element;
        var $=layui.jquery;
    });
</script>
</body>
</html>
